extends layout

block content
  h1= title
  //- table
  //-   tr 
  //-     th id 
  //-     th title 
  //-     th action 
  //-   each item, index in data
  //-     tr
  //-       td=index 
  //-       td=item.title 
  //-       td=item.created 
  //-       td 
  //-         a Delete 
